<div>
    <h2 id="page-heading">
        <span jhiTranslate="devApp.roomType.home.title">Room Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room-type" [routerLink]="['/room-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="devApp.roomType.home.createLabel">
            Create a new Room Type
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="roomTypes?.length === 0">
        <span jhiTranslate="devApp.roomType.home.notFound">No roomTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="roomTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="devApp.roomType.typeBed">Type Bed</span></th>
            <th scope="col" ><span jhiTranslate="devApp.roomType.bathroom">Bathroom</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roomType of roomTypes ;trackBy: trackId">
                <td><a [routerLink]="['/room-type', roomType.id, 'view' ]">{{roomType.id}}</a></td>
                <td>{{roomType.typeBed}}</td>
                <td>{{roomType.bathroom}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/room-type', roomType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room-type', roomType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(roomType)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
