<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resource">
            <h2><span jhiTranslate="devApp.resource.detail.title">Resource</span> {{resource.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="devApp.resource.name">Name</span></dt>
                <dd>
                    <span>{{resource.name}}</span>
                </dd>
                <dt><span jhiTranslate="devApp.resource.roomType">Room Type</span></dt>
                <dd>
                    <div *ngIf="resource.roomType">
                        <a [routerLink]="['/room-type', resource.roomType?.id, 'view']">{{resource.roomType?.typeBed}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource', resource.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
